.idea/
.vscode/
__pycache__/
/media/
uwsgi.ini
*.sqlite3*
node_modules/
*.sock
celerybeat.pid
/*.ini
.python-version
*.lock
/static/
/venv/
docs_build/
.pgpass
.init_branch
.coverage
.env
/wsgi.py
docker-compose.override.yml
read.me
/staticfiles/
/requirements/
/librarius.pdf
/Librarius.sql
